.input-group-prepend{
   border: 1px solid rgba(0,0,0,.125);
   border-style: solid;
   background-clip: border-box;
   width: 35px;
   height: 35px;
   text-align: center;
   cursor: pointer;
   padding: 3px;
   color: rgb(54, 54, 208);
   background-color: transparent;
}
.input-quantity{
   border-style: solid;
   background-clip: border-box;
   width: 35px;
   height: 35px;
   padding: 3px;
   text-align: center;
   cursor: text;
   border: 1px solid rgba(0,0,0,.125);;
}
.disable{
    color: gray;
}
.quantity-container{
    width: 300px;
    position: relative;
    bottom: 0;
}
.price-container{
    display: flex;
    justify-content: center;
}